body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #121212; /* Fondo oscuro */
  color: #fff;
  font-family: sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#startBtn {
  padding: 12px 24px;
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #1db954;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

#startBtn:hover {
  background-color: #1ed760;
  transform: scale(1.05);
}

#timer {
  font-size: 64px;
  font-weight: bold;
  margin-top: 10px;
  font-family: "Courier New", Courier, monospace;
}
